*{
    padding: 0;
    margin: 0;
    font-family: "Inter";
    font-size: 1vw;
    font-weight: 400;
}

body{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

form{
    display:flex;
    flex-direction: column;
    gap: 2vh;
}

#password{
    width: 20vw;
    padding: 5px 20px 5px 5px;
    font-size: 1em;
}

#submitPassword{
    width: 10vw;
    height: 4vh;
    font-size: 1em;
    border-radius: 10px;
    border-style: solid;
    background-color: white;
    color: black;
    border-width: 1px;
    transition-duration: 0.2s;
}

#submitPassword:hover{
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}

.button{
    border-style: none;
    background-color: white;
    font-weight: 550;
    font-size: 1.2em;
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: row;
    width: 10vw;
    height: 5vh;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    transition-duration: 0.2s;
}

.button:hover{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

#chooseService, #loginForm, #meetingRecorder{
    margin: 3vw;
}

/*css for the pdf tagging*/
#tagger{
    display: flex;
}

#leftSide{
    width: 49vw;
    padding: 3vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#rightSide{
    width: 49vw;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#tagger h1{
    font-size: 2em; 
    font-weight: bold;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

#uploadTitle{
    width: 13vw;
    height: 2vh;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    background-color: rgb(47, 88, 163);
    color: white;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 1vw;
    transition-duration: 0.2s;
}

#uploadTitle:hover{
    background-color: rgb(39, 72, 134);
}

#downloadCSV{
    display: none;
    width: 13vw;
    font-size: 1em;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    background-color: #43B02A;
    color: white;
    transition-duration: 0.2s;
}

#downloadCSV:hover{
    cursor: pointer;
    background-color: #3b9d25;
}

@keyframes e-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  
#loader{
    width: 1vw;
    height: 1vw;
    border: 0.2vw solid #ffffff;
    border-top: 0.16vw solid rgb(47, 88, 163);
    border-radius: 50%;
    animation: e-spin 0.5s linear both infinite;
}

#extractBlock{
    font-size: 1.3em;
    margin: 2vh 0 2vh 0;
}

#pdfContainer{
    width: 90%; 
    border: 1px solid #ccc; 
    height: 90%;
    overflow-y: scroll;
}

#pdfButtons{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-top: 2vh;
}

#prevPDF, #nextPDF{
    opacity: 0;
    pointer-events: none;
}


/*css for the meeting recorder*/

#recordBtn{
    background-color: black;
    color: white;
}

#recordBtn:hover{
    cursor: pointer;
    background-color: rgb(62, 62, 62);
}

.arrow, .record, .stop{
    font-size: 1.5em;
}

.record, .stop{
    color: red;
}

.stop{
    padding-bottom: 2px;
}

h1{
    font-size: 2em;
    font-weight: 550;
}

h2{
    font-size: 1.5em;
    font-weight: 550;
    margin-top: 3vh;
    margin-bottom: 1vh;
}

li{
    margin-left: 3vw;
}

ul ul {
    margin-left: 4vw;
}

#extractedInfo{
    width: 55vw;
}

#loginForm, #soundThings, .serviceMenu{
    margin-left: 10vw;
    height: 80vh;
    width: 30vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    box-shadow: 0 2px 5px rgb(0,0,0,0.25);
}

#loginForm{
    margin-left: auto;
    margin-right: auto;
}







/*wave animation css*/
@keyframes quiet {
    25%{
      transform: scaleY(.6);
    }
    50%{
      transform: scaleY(.4);
    }
    75%{
      transform: scaleY(.8);
    }
}
  
@keyframes normal {
    25%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(.4);
    }
    75%{
        transform: scaleY(.6);
    }
}
@keyframes loud {
    25%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(.4);
    }
    75%{
        transform: scaleY(1.2);
    }
}

.soundWaves{
    display: flex;
    justify-content: space-between;
    height: 64px;
    --boxSize: 8px;
    --gutter: 4px;
    width: calc((var(--boxSize) + var(--gutter)) * 5);
}
  
.box{
    transform: scaleY(.4);
    height: 100%;
    width: var(--boxSize);
    background: #43B02A;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 0;
    border-radius: 8px;
}
  
.box1{
    animation-name: quiet;
}
  
.box2{
    animation-name: normal;
}

.box3{
    animation-name: quiet;
}
  
.box4{
    animation-name: loud;
}
  
.box5{
    animation-name: quiet;
}